<% if options.orientation == :horizontal %>{<% end %>
<table border="0" align="center" cellspacing="0.5" cellpadding="0" width="<%= NODE_WIDTH + 4 %>">
  <tr><td align="center" valign="bottom" width="<%= NODE_WIDTH %>"><font face="<%= FONTS[:bold] %>" point-size="11"><%= entity.name %></font></td></tr>
  <% if @options[:table_comments] && (table_comment = entity.model.connection.table_comment(entity.model.table_name)).present? %>
  <tr><td align="center" valign="bottom" width="<%= NODE_WIDTH %>"><font face="<%= FONTS[:bold] %>" point-size="6"><%= table_comment.gsub('|', '&#124;') %></font></td></tr>
  <% end %>
</table>
<% if attributes.any? %>
|
<table border="0" align="left" cellspacing="2" cellpadding="0" width="<%= NODE_WIDTH + 4 %>">
<%   attributes.each do |attribute| %>
  <tr><td align="left" width="<%= NODE_WIDTH %>" port="<%= attribute %>"><%= attribute %> <font face="<%= FONTS[:italic] %>" color="grey60"><%= attribute.type_description %></font></td></tr>
  <% if @options[:column_comments] && (column_comment = attribute.comment(entity)).present? %>
  <tr><td align="left"><font face="<%= FONTS[:italic] %>" color="grey60" point-size="6"> &#8594;<%= column_comment %></font></td></tr>
  <% end %>
<%   end %>
</table>
<% else %>
<% end %>
<% if options.orientation == :horizontal %>}<% end %>
